ONE HOT ENCODER

PODEMOS USAR DUMMY VARIABLES DE PANDAS

IMPORTAMOS PANDAS:

In [1]:
import pandas as pd

CREAMOS UN DATASET:

In [2]:
df = pd.read_csv("homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

Ahora usamos ohe para crear dummy variables para cada puebloake_column_transform nos permite aplicar metosdos  distintos a las diferentes columnas, vcereemos su potendcial en otros ejemplos mas elaborados.

In [4]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

ModuleNotFoundError: No module named 'sklearn'

In [3]:
ohe = OneHotEncoder()
ct = make_column_transformer(
    (ohe, ['town']),
    remainder = 'passthrough'
)

listos = ct.fit_transform(df)

listos

NameError: name 'OneHotEncoder' is not defined