In [4]:
import pandas as pd
#df = pd.read_csv("articulos.csv")
df = pd.read_csv("articulos.csv",index_col = False,sep="\t")
print(df.shape)
df.head()

(2989, 1)

                             ,CATEGORÍA,ENLACE,TEXTO
0  0,INTERNACIONAL,https://elpais.com/television/...
1  1,INTERNACIONAL,https://elpais.com/television/...
2  2,INTERNACIONAL,https://elpais.com/economia/20...
3  3,INTERNACIONAL,https://elpais.com/economia/20...
4  4,INTERNACIONAL,https://elpais.com/opinion/202...

In [6]:
target = {'INTERACIONAL' : 0, 'POLÍTICA': 1, 'DEPORTES': 2, 'CIENCIA': 3, 'SOCIEDAD':4, 'ECONOMÍA':5}
df['category_num'] = df['CATEGORÍA'].map({
    'INTERACIONAL':0,
    'POLÍTOCA': 1,
    'DEPORTES': 2,
    'CIENCIA': 3,
    'SOCIEDAD':4,
    'ECONOMÍA':5
})

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df.TEXTO,
    df.category_num,
    test_size=0.2,
    random_state=2022,
    stratify=df.category_num
)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

In [ ]:
clf = Pipeline([
    ('vectorizer_bow', CountVectorizer(ngram_range = (1, 1))),
    ('Multi NB', MultinomialNB())
])

In [ ]:
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))